@import './normalize.scss';
@import './var.scss';
@import '../pages/home/home.scss';
@import '../pages/puzzle/puzzle.scss';
@import '../pages/top/top.scss';
@import '../pages/settings/settings.scss';

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $bg-color;
  color: $text-color-light-blue;
}

.container {
  max-width: 1080px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}

.visibleFlex {
  display: flex;
}

.visibleBlock {
  display: block;
}

.pageTitle {
  margin: 0 0 20px 0;
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
