.wrapper {
  padding: 40px 0;
}

.header {
  margin: 0 0 20px 0;
  &__title {
    text-align: center;
  }
}

.main {
  display: flex;
}

.menu {
  max-width: 300px;
  width: 100%;
  &__title {
    margin: 0 0 20px 0;
    padding: 5px 10px;
  }
  &__list {
    padding: 0;
    list-style: none;
    font-size: 18px;
  }
  & label {
    display: block;
    padding: 12px 10px;
    cursor: pointer;
  }
  & input {
    display: none;
    &:checked + label {
      background-color: $text-color-blue;
    }
  }
}

.page {
  flex: 1 auto;
  padding: 0 0 0 20px;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
}
